{% extends "base.html" %}

{% block content %} 
<h2>detalles de academia</h2>
    <center>
        <h2>detalles del cuerpo académico </h2>

        <br>{{object.id}}
        <br> 
        <br>{{object.nameAcademy}} 
        <br>{{object.codeAcademy}} 
        <br>{{object.createdPubAcademy}} 
        </center>  
{% endblock %}